<footer class="site-footer">
    <p class="text">
        {{ site.footer_text | default: "Powered by <a href='https://jekyllrb.com/'>Jekyll</a> with <a href='https://github.com/sylhare/Type-on-Strap'>Type on Strap</a>" }}
    </p>
    <div class="footer-icons">
        {% include social/icons.liquid %}
    </div>

    {% if site.mermaid %}
        <script type="module">
          if (document.querySelector('.language-mermaid, .mermaid')) {
              mermaid.initialize({ startOnLoad: true, theme: "default" });
          }
        </script>
    {% endif %}
</footer>
