<!-- Portfolio Grid Section -->
<div class="portfolio-grid">
    {% for item in site.portfolio %}
    <div class="portfolio-cell">
        <a class="portfolio-link" href="{{ item.url | relative_url }}" title="{{ item.title }}">
            <div class="caption">
                <div class="caption-content">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            {% if item.img %}
            <img alt="{{ item.title }}" src="{{ item.img | relative_url }}">
            {% else %}
            <img alt="Placeholder image" src="/assets/img/portfolio/placeholder.png">
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>
